.sidebar{
	background-color: #000;
	height: 800px;
	width: 250px;
	border-radius: 10px;
	padding: 5px 0px;
	display: flex;
	flex-direction: column;
}

.text-box{
	background-color: aqua;
	height: 30px;
	max-width: fit-content;
	border-radius: 10px;
	align-content: center;
}

.pen-icon{
	background-color: rgb(185, 24, 24);
	height: 30px;
	width: 30px;
	border-radius: 10px;
	margin: 5px 10px;
}

.icon{
	background-color: rgb(185, 24, 24);
	height: 30px;
	width: 30px;
	border-radius: 10px;
}

.row{
	background-color: #ddd;
	height: 30px;
	width: 225px;
	border-radius: 10px;
	margin: 5px 10px;
	display: flex;
}

.mid-row{
	background-color: #ddd;
	height: 30px;
	width: 195px;
	border-radius: 10px;
	margin: 5px 10px;
	display: flex;
	justify-content: space-between;
}

/* mi rendo conto che la parte sotto è ridondante
 ma non mi usciva corretto con una singola classe */

.mid-section{
	display: flex;
}

.inter-section{
	display: flex;
}